body {
    margin: 0;
}

.Container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* вся висота екрану */
}

/* Загальні стилі для блоків (для візуалізації меж) */
.Header, .MainContainer, .Footer {
    border: 2px solid black;
    background-color: rgb(165, 230, 16);
    padding: 10px 20px;
    align-items: center; /* Центрує логотип відносно висоти меню */
}

.Header {
    display: flex;
    justify-content: space-between; /* Лого зліва, Меню справа */
}

.logo {
    display: flex;
    align-items: center;
}

    .logo img {
        height: 50px;
        width: 50px;
        display: block;
    }

.nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: flex-end; /* Пункти меню притиснуті до правого краю */
}

    .nav-menu li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        font-size: 16px;
    }

        .nav-menu li a:hover {
            color: #ff6600;
        }

.MainContainer {
    flex-grow: 1;
    display: flex;
}

    .MainContainer img {
        height: 150px;
        width: 100px;
        display: block;
    }

.Info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(197, 59, 59);
    border-radius: 15px;
    border: 2px solid black;
    min-width: 220px;
    padding: 30px 15px;
    text-align: center;
    background: #fff;
    cursor: pointer;
    text-decoration: none; /* Щоб посилання-картка не мала підкреслення */
    /*    gap: 20px;
    padding: 0 5%;
    margin-bottom: 80px;
    flex-wrap: wrap;*/
}

    .Info h3 {
        font-size: 18px;
        margin-bottom: 10px;
        color: #333;
        transition: color 0.3s ease;
    }

    .Info p {
        font-size: 14px;
        color: #666;
        transition: color 0.3s ease;
    }

    .Info:hover {
        background-color: #ff6600;
        color: white;
    }
        /* Змінюємо колір всіх елементів всередині картки при наведенні */
        .Info:hover h3,
        .Info:hover i,
        .Info:hover p {
            color: white;
        }

/*.Info-icon {
    font-size: 40px;
    color: #ff6600;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}*/

