body {
    margin: 0;
}

.Container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* вся висота екрану */
}

/* Загальні стилі для блоків (для візуалізації меж) */
.Header, .MainContainer, .Footer {
    border: 2px solid black;
    background-color: rgb(165, 230, 16);
    padding: 10px 20px;
    align-items: center; /* Центрує логотип відносно висоти меню */
}

.Header {
    display: flex;
    justify-content: space-between; /* Лого зліва, Меню справа */
}
.logo {
    display: flex;
    align-items: center;
}
    .logo img {
        height: 50px;
        width: 50px;
        display: block;
    }
.nav-menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    justify-content: space-evenly; /* Пункти меню притиснуті до правого краю */
}
    .nav-menu li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        font-size: 16px;
    }
        .nav-menu li a:hover {
            color: #ff6600;
        }

.MainContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background: linear-gradient( to bottom, rgb(0 246 255) 30%, rgb(223 189 0) 50% );
}

.ElementInMainContainer {
    width: 250px;
    height: 333px;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid black; 
}

.ImgContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центруємо*/

    margin: 50px 10px;
}

img.ElementInMainContainer {
    object-fit: cover;
}

/* Парні елементи (2, 4...) опускаємо нижче */
img.ElementInMainContainer:nth-child(even) {
    transform: translateY(10px);
}

/* Непарні елементи (1, 3...) піднімаємо вище */
img.ElementInMainContainer:nth-child(odd) {
    transform: translateY(-10px);
}



.InfoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центруємо*/
}

.Info.ElementInMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центруємо*/
    align-items: center; /* Центруємо*/

    background: #fff;
    cursor: pointer;
}
    .Info.ElementInMainContainer img {
        height: 50%;
        width: auto;
    }
    .Info.ElementInMainContainer h3 {
        font-size: 18px;
        color: black;
        margin: 5px;
        text-align: center;
    }
    .Info.ElementInMainContainer p {
        font-size: 14px;
        color: black;
        margin: 5px;
        text-align: center;
    }

