html, body {
  height: 100%;
  margin: 0;
}

.GridContainer {
  min-height: 100vh;       /* вся висота екрану */
  display: grid;
  grid-template-rows:
    auto    /* header */
    1fr     /* основний контент (розтягується) */
    auto;   /* footer */
}

div {
  background-color: rgba(157, 0, 0, 0.3);
  border:2px solid black;
}

p {
margin:10px;
}
.Header {
grid-area: 1 / 1 / 2 / 2;
text-align: center;
}

.MainContainer {
grid-area: 2 / 1 / 3 / 2;
text-align: left;
}

.Footer {
grid-area: 3 / 1 / 4 / 2;
text-align: right;
}
