.GridContainer {
display: grid;
grid-template-rows: repeat(3 auto);
}

body{
margin:0;
}

div {
  background-color: rgba(157, 222, 0, 0.3);
  border:2px solid black;
}

p {
margin:10px;
}
.Header {
grid-area: 1 / 1 / 2 / 2;
text-align: center;
}

.MainContainer {
grid-area: 2 / 1 / 3 / 2;
text-align: left;
}

.Footer {
grid-area: 3 / 1 / 4 / 2;
text-align: right;
}
